@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&family=Quicksand&family=Righteous&display=swap");

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
}

/* style Kategori */
.menu-category {
  font-family: "Quicksand", sans-serif;
}
.img-category {
  width: 120%;
  height: 100%;
}

.img-category:hover {
  transform: scale(1.2);
  transition: (0.2s);
}

.row-container {
  background-color: rgb(244, 226, 243);
  margin: 0px;
}

/* akhir style kategori */
